.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.App > h1:first-child {
  margin-bottom: 4rem;
  color: #004;
}
.MuiGrid-grid-xs-4 {
  max-width: none !important;
}
.MuiTab-textColorInherit {
  font-size: larger !important;
}
.MuiTabs-indicator {
  border-right: 3px solid rebeccapurple !important;
}
.Mui-selected {
  color: rebeccapurple !important;
}
.MuiTabs-flexContainerVertical > button:not(.Mui-selected):hover {
  color: rebeccapurple !important;
  background-color: rgba(0, 0, 150, 0.15) !important;
}
.MuiBox-root {
  padding: 0px !important;
}
.MuiBox-root:first-child {
  font-size: x-large !important;
  color: rgba(0, 0, 0, 0.75) !important;
}
.MuiChip-root {
  margin: 4px 0 !important;
  display: block !important;
  padding: 7px 0px !important;
  max-width: fit-content !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  background-color: rgba(48, 48, 150, 0.15) !important;
  color: rgba(56, 36, 110, 0.548) !important;
  letter-spacing: 3px !important;
}
.dates {
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.5) !important;
}
.duty {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  max-width: inherit !important;
}
.duty-text {
  padding-left: 0px !important;
}
.icon {
  position: relative !important;
  top: 10% !important;
  background-color: rgba(48, 48, 150, 0.15) !important;
  border-radius: 50%;
  color: rgba(94, 57, 136, 0.616) !important;
}
.MuiGrid-grid-xs-9 {
  min-width: 906px !important;
  width: 906px !important;
}
.btn-expandMoreLess {
  margin: 1rem !important;
  position: relative !important;
  left: 30% !important;
  min-width: 114.953px !important;
  width: 114.953px !important;
  box-sizing: content-box !important;
}
.btn-expandMoreLess:hover {
  background-color: rgba(48, 48, 150, 0.15) !important;
}
