body {
  margin: 0;
  font-family: "Prompt", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 4px;
  transform: scale(1, 1.1);
  display: block !important;
}

body * {
  font-family: inherit !important;
}
